body {
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
}

.result-card {
    margin-top: 20px;
    background: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 15px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 20px;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}