body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, purple, blue);
    color: white;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    background: black;
    color: white;
}